{{#partial "contenido"}}
    <section>
        <h2>Mis recomendaciones</h2>
    </section>
    <section>
        <p>
            Para reducir o compensar la huella de carbono o huella ecológica, es necesario aplicar un conjunto de prácticas y dinámicas que aíslen o capturen el CO2 producido de la atmósfera.
            Y no se trata sólo de una cuestión a nivel personal. Las empresas son agentes sociales imprescindibles para lograr una transformación hacia una sociedad baja en carbono y respetuosa con el cambio climático.
            De hecho, son cuantiosas las empresas que de forma voluntaria se han adherido al registro de la huella de carbono, y algunas ya quieren destacar como "neutras en carbono", es decir, aspiran a un balance cero de CO2.
            Todo empieza por un cambio de enfoque que permita instaurar políticas que redunden en la reducción de emisiones de gases de efecto invernadero.
        </p>
    </section>
    <section>
        <p>Una vez se tenga la composición de la HC es clave <b>identificar aquellas acciones con alto potencial de reducción y bajo costo de implementación</b>. Las principales líneas de actuación son: la implantación de energías renovables, políticas de movilidad de los trabajadores y transporte de mercancías, instaurar tecnologías más eficientes, reducir el consumo de recursos y minimizar los residuos.</p>
        <p>A continuación dejamos algunos ejemplos más detallados:</p>
        <div class="container">
            <ul class="row g-4">
                <li>
                    <h3>Diseñar e implementar campañas de concientización sobre uso de energía y materiales.</h3>
                    <article>Una vez se haya medido la HC es importante comunicar los resultados a los colaboradores para promover su involucramiento en las acciones de reducción de emisiones. Por ejemplo, campañas de concientización sobre el uso de energía (apagar los aparatos que no sean usados) o materiales (#PiensoLuegoImprimo) con la designación de líderes internos reduce la intensidad de las emisiones de GEI y empodera a los colaboradores en su desarrollo profesional. Existen casos de empresas, puntualmente en cadenas de restaurantes, donde las campañas de comunicación internas han generado reducción de impacto ambiental y ahorro de recursos, que se traduce en reducción de costos operativos.
                    </article>
                </li>
                <li>
                    <h3>Gestionar la cadena de valor con proveedores.</h3>
                    <article>Una empresa impacta por su actividad pero también por su cadena de valor. Al desarrollar criterios ambientales para la selección de proveedores se pueden reducir las emisiones GEI. Esto podría parecer complejo, pero hay ejemplos concretos en su implementación. Por ejemplo, se puede priorizar la contratación de servicios de mensajería que utilicen movilidades sostenibles (bicicletas o transporte eléctrico) como Mail on Bike. Esto puede generar eficiencias, ya que este tipo de transporte ofrecerte tarifas muy competitivas, llegan a los destinos más rápidamente y a la vez reducen el impacto ambiental del transporte.</article>
                </li>
                <li>
                    <h3>Fomentar el transporte sostenible de los colaboradores.</h3>
                    <article>Una empresa de servicios promedio (dependiendo de la naturaleza de su operación) podría tener el 15 a 25% de su HC relacionada al transporte de sus trabajadores de su casa al trabajo, como parte del alcance 3. Promover prácticas más sostenibles de transporte podrían ayudar a reducir sus impactos. Algunas de las prácticas podría ser priorizar el uso de servicios de taxi que compensen sus emisiones (por ejemplo, Cabify) y realizar campañas de sensibilización que promuevan el transporte sostenible y el carpooling entre colaboradores. Ya hay empresas que promueven que sus trabajadores (si es que viven suficientemente cerca y la infraestructura vial lo permite) obtengan una scooter eléctrica brindada por su empleador sin costo inicial y que se vaya descontado de su sueldo mensual progresivamente. Esto puede generar menos tiempo en el tráfico, menos estrés y mayor productividad del colaborador.</article>
                </li>
            </ul>
        </div>
    </section>
{{/partial}}
{{>layout.hbs}}
