{{#partial "contenido"}}
    <section>
        <h2>Mi Sector Territorial</h2>

        <table class="table" id="tabla">
            <thead>
            <tr>
                <th>Nombre Sector Territorial</th>
            </tr>
            </thead>

            <tbody>
                <tr>
                    <td> {{agente-sectorial.sectorTerritorial.descripcion}} </td>
                </tr>
            </tbody>
        </table>
    </section>
{{/partial}}
{{>layout.hbs}}