{{#partial "contenido"}}
<section>
    <h1>Bienvenido</h1>
</section>

<section class="container">
    <article>
        <h2>¿Qué es la huella de carbono y por qué es vital reducirla para frenar el cambio climático?</h2>
        <p>
            La huella de carbono representa el volumen total de gases de efecto invernadero (GEI) que producen las
            actividades económicas y cotidianas del ser humano. Conocer el dato, expresado en toneladas de CO2 emitidas,
            es importante para tomar medidas y poner en marcha las iniciativas necesarias para reducirla al máximo,
            empezando por cada uno de nosotros en nuestro día a día.
            Cada vez que viajamos en coche, cargamos el teléfono móvil o ponemos una lavadora, entre otras miles de
            rutinas, dejamos atrás una estela de gases que se acumulan en la atmósfera y sobrecalientan el planeta.
            Estas emisiones aceleran el cambio climático, como advierte la Organización de las Naciones Unidas (ONU)
            en sus Objetivos de Desarrollo Sostenible (ODS), y si no las neutralizamos a tiempo con la descarbonización
            de la economía y otras medidas, como los impuestos ambientales, nos espera un mundo más inhóspito a la
            vuelta de la esquina.
        </p>
    </article>

    <article>
        <h2>QUÉ ES LA HUELLA DE CARBONO</h2>
        <p>
            El rastro de gases de efecto invernadero (GEI) que dejan las actividades humanas se conoce como huella de
            carbono. Este indicador ambiental mide tanto las emisiones directas como indirectas de compuestos como el
            metano (CH4), el óxido de nitrógeno (N2O), los hidrofluorocarburos (HFCs), los perfluororcarburos (PFCs),
            el hexafluoruro de azufre (SF6) y, sobre todo, del más abundante y que más ha contribuido al calentamiento
            global desde 1990: el dióxido de carbono (CO2).
            La Organización Meteorológica Mundial (OMM) apunta que la concentración de gases de efecto invernadero en
            la atmósfera alcanzó un nuevo récord en 2019 y que los niveles actuales de CO2 atmosférico son equiparables
            a los de hace más de tres millones de años, cuando el termómetro terrestre marcaba unos 3 °C más y el nivel
            del mar medía entre 10 y 20 metros más que hoy. Hasta ahora, la huella de carbono no ha parado de crecer,
            se ha multiplicado por 11 desde 1961, y ya supone el 60 % del impacto total del hombre en el medio ambiente,
            según estima la Global Footprint Network.
        </p>
    </article>

    <article>
        <h2>LA HUELLA DE CARBONO PERSONAL</h2>
        <p>
            La huella de carbono personal es la que origina un solo individuo en su vida cotidiana al desplazarse,
            consumir, alimentarse y utilizar recursos como la energía. La ONG ambiental The Nature Conservancy estima
            que cada habitante del planeta genera una media de casi cuatro toneladas anuales de CO2, mientras que en
            países como Estados Unidos esta cantidad se cuadruplica por persona y año.
            Desde The Nature Conservancy señalan que la huella de carbono personal debe reducirse a menos de dos
            toneladas anuales para 2050. Los expertos sostienen que esta es la mejor forma de evitar que la temperatura
            siga subiendo y alcance el temido umbral de los 2 °C, lo que agravaría el cambio climático y lo convertiría
            en un problema irreversible.
        </p>
    </article>

    <article>
        <h2>LA HUELLA DE CARBONO DE LAS EMPRESAS</h2>
        <p>
            Al igual que las personas, las entidades también realizan actividades que producen gases de efecto
            invernadero como, por ejemplo, durante la fabricación, el transporte o el consumo energético. La huella de
            carbono corporativa mide todas las emisiones GEI de las empresas y su alcance, tanto si son directas y
            pueden controlarlas como si no.
            En este sentido, las compañías suelen tener la opción de reducir o compensar su huella de carbono. ¿Cómo?
            Mejorando su eficiencia energética, consumiendo energía de origen 100 % renovable, realizando campañas de
            sensibilización, invirtiendo en proyectos medioambientales, abonando impuestos verdes o comprando toneladas
            de CO2 en el mercado internacional de emisiones, entre otras acciones.
        </p>
    </article>
</section>
{{/partial}}
{{>layout.hbs}}
